<p id="copyright">由<a href="http://hexo.io" target="_blank">Hexo</a>生成页面&nbsp;&nbsp;|&nbsp;&nbsp;由<a href="https://github.com/tangkunyin/hexo-theme-ttstyle" target="_blank"><%= theme.theme_name %></a>提供主题&nbsp;&nbsp;|&nbsp;&nbsp;由<a href="<%= theme.gitPagesServerAddr %>" target="_blank"><%= theme.gitPagesServerName %></a>提供托管&nbsp;&nbsp;|&nbsp;&nbsp;由<a href="http://duoshuo.com" target="_blank">多说</a>提供评论&nbsp;&nbsp;|&nbsp;&nbsp;由<a href="http://tongji.baidu.com" target="_blank">百度</a>提供统计</p>
<!-- 百度统计 -->
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?49d15554ab254ca77ce19a07a620604d";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
